*{
    text-decoration: none;
    color:rgb(75, 74, 74);
    
}

#navbar{
    position: fixed;
    z-index:1;
}
#navbar ul{
    list-style: none;
    font-size: 25px;*{
    text-decoration: none;
    color:rgb(75, 74, 74);
    
}

#navbar{
    position: fixed;
    z-index:1;
}
#navbar ul{
    list-style: none;
    font-size: 25px;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
}

#navbar ul li{
    display: inline;
    padding-right: 30px;   
}

#welcome-section{
    position: absolute;
    top: 60px;
    background-color: white;
    height: 100vh;
    width: 100%;
    text-align: center;
}

#welcome-section h1{
    position: relative;
    top: 10vh;
    font-size: 40px;
    font-weight: 500;
    display: inline;
}

#welcome-section .slide{
    font-family: 'Times New Roman', Times, serif;
    animation: slide-right 2s; 
}

#welcome-section .type1{
    white-space: nowrap;
    font-style: italic;
    font-size: 50px;
    width: 10ch;
    font-weight: lighter;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
    opacity: 1;
    box-sizing: border-box;
    animation: type 4s ;
    overflow: hidden;
    color: rgb(13, 142, 228);
}

#welcome-section .type2{
    position: relative;
    top: 10vh;
    animation: slide-right1 6s;
  
}


#photo{
    position: relative;
    height: 27%;
    width: auto;
    border-radius: 50%;
    top: 120px;
    animation: type2 6s;
    
}

.arrow{
    position: absolute;
    top: 80%;
    height: 50px;
    left: 46%;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    animation: type2 3s infinite;
    animation-delay: 5s;
}

#about{
    position: absolute;
    top: 100vh;
    /* height: 100vh; */
}

#skills {
    position: relative;
}

#projects{
    position: relative;

}

#contact{
    position: relative;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.item{
 
    margin: 10px;
    font-size: 20px;
}
.content, .project-tile{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 25px;
    word-spacing: 5px;
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 10px;
}
.title{
    font-size: 50px;
    font-style: italic;
    margin-left: 24.8%;
    font-weight: 100;
    text-align: left;
    text-shadow: 8px 8px rgb(228, 228, 228)
}
.icon{
    height: 30px;
    margin-right: 10px;
    padding-top: 10px;
    margin-bottom: 0;
}

#project-list {
    list-style:outside;
}
#project-list a:hover{
    color: rgb(2, 69, 212);
}

.project-tile h2{
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    color: rgb(13, 142, 228);
}

#contact ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#contact i{
    height: 40px;
    margin-right: 30px;
    background-color: white;
    color:rgb(13, 142, 228);
}

#contact i:hover{
    color: rgb(2, 69, 212);

}


@media (max-width: 834px) {
    #skills .grid{
        display: block;
    }
}

@media (min-width: 1027px) {
    #welcome-section{
        width: 60%;
    }
    #welcome-section h1{
        top: 30%;
    }
    #welcome-section .type2{
        position: relative;
        top: 30vh;
    }
    #photo{
        position: absolute;
        left: 100%;
        top: 25%;
    }
    .arrow{
        left: 80%;
    }
 
}

@keyframes slide-up {
    from{
       height: 0;
    }
    to{
       height: 50px;
    }
}

@keyframes slide-right {
    from{
        margin-left: -100%;
        opacity: 0;
    }
    to{
       text-align: center;
    }
}

@keyframes slide-right1 {
    from{
        margin-left: -100%;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
       text-align: center;
    }
}

@keyframes type{
    from {
        width: 0px;
        opacity: 0;
    }

    50%{
        width: 0ch;
        opacity: 0;
    }
    to {
        width: 10ch;
        opacity: 1;
    }
}

@keyframes type2{
    from{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
    float: right;
    margin-top: 0px;
    padding-top: 0px;
}

#navbar ul li{
    display: inline;
    padding-right: 30px;   
}

#welcome-section{
    position: absolute;
    top: 60px;
    background-color: white;
    height: 100vh;
    width: 100%;
    text-align: center;
}

#welcome-section h1{
    position: relative;
    top: 10vh;
    font-size: 40px;
    font-weight: 500;
    display: inline;
}

#welcome-section .slide{
    font-family: 'Times New Roman', Times, serif;
    animation: slide-right 2s; 
}

#welcome-section .type1{
    white-space: nowrap;
    font-style: italic;
    font-size: 50px;
    width: 10ch;
    font-weight: lighter;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
    opacity: 1;
    box-sizing: border-box;
    animation: type 4s ;
    overflow: hidden;
    color: rgb(13, 142, 228);
}

#welcome-section .type2{
    position: relative;
    top: 10vh;
    animation: slide-right1 6s;
  
}


#photo{
    position: relative;
    height: 27%;
    width: auto;
    border-radius: 50%;
    top: 120px;
    animation: type2 6s;
    
}

.arrow{
    position: absolute;
    top: 80%;
    height: 50px;
    left: 46%;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    animation: type2 3s infinite;
    animation-delay: 5s;
}

#about{
    position: absolute;
    top: 100vh;
    /* height: 100vh; */
}

#skills {
    position: relative;
}

#projects{
    position: relative;

}

#contact{
    position: relative;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.item{
 
    margin: 10px;
    font-size: 20px;
}
.content, .project-tile{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 25px;
    word-spacing: 5px;
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 10px;
}
.title{
    font-size: 50px;
    font-style: italic;
    margin-left: 25%;
    font-weight: 100;
    text-align: left;
    text-shadow: 8px 8px rgb(228, 228, 228)
}
.icon{
    height: 30px;
    margin-right: 10px;
    padding-top: 10px;
    margin-bottom: 0;
}

#project-list {
    list-style:outside;
}
#project-list a:hover{
    color: rgb(2, 69, 212);
}

.project-tile h2{
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    color: rgb(13, 142, 228);
}

#contact ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#contact i{
    height: 40px;
    margin-left: 30px;
    background-color: white;
    color:rgb(13, 142, 228);
}

#contact i:hover{
    color: rgb(2, 69, 212);

}


@media (max-width: 834px) {
    #skills .grid{
        display: block;
    }
}

@media (min-width: 1027px) {
    #welcome-section{
        width: 60%;
    }
    #welcome-section h1{
        top: 30%;
    }
    #welcome-section .type2{
        position: relative;
        top: 30vh;
    }
    #photo{
        position: absolute;
        left: 100%;
        top: 25%;
    }
    .arrow{
        left: 80%;
    }
 
}

@keyframes slide-up {
    from{
       height: 0;
    }
    to{
       height: 50px;
    }
}

@keyframes slide-right {
    from{
        margin-left: -100%;
        opacity: 0;
    }
    to{
       text-align: center;
    }
}

@keyframes slide-right1 {
    from{
        margin-left: -100%;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
       text-align: center;
    }
}

@keyframes type{
    from {
        width: 0px;
        opacity: 0;
    }

    50%{
        width: 0ch;
        opacity: 0;
    }
    to {
        width: 10ch;
        opacity: 1;
    }
}

@keyframes type2{
    from{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
